<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  style="padding-left: 20px; padding-right: 20px"
>
  <div class="col-md-4 d-flex align-items-center">
    <a class="navbar-brand rounded-circle" href="/">
      <img
        class=""
        src="/img/logo.jpg"
        alt="Логотип"
        style="width: 50px; height: 50px; object-fit: cover"
      />
    </a>
    <span class="text-muted">2024 Диплом, Поздняков В. К.</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a class="text-muted" href="https://vk.com/foxelectronic" target="_blank"
        ><i class="fa-brands fa-vk fa-2xl"></i
      ></a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://t.me/foxelectronick" target="_blank"
        ><i class="fa-brands fa-telegram fa-2xl"></i
      ></a>
    </li>
  </ul>
</footer>
