<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand rounded-circle" href="/">
      <img
        class=""
        src="/img/logo.jpg"
        alt="Логотип"
        style="width: 50px; height: 50px; object-fit: cover"
      />
    </a>
    <div
      class="text-center"
      style="margin-left: 10%; font-size: large"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" href="/about">О нас</a>
        <a class="nav-link" href="/">Каталог</a>
        <a class="nav-link" href="/where">Где нас найти?</a>
      </div>
    </div>
    <% if (locals.user) { %>
    <div id="header">
      <%# Меню пользователей, выполнивших вход%>
      <span class="name"><%= user.name %> </span>
      <% if (locals.role === 'admin') { %>
      <a href="/admin">
        <button type="button" class="btn btn-dark" style="border-radius: 10px">
          Панель администратора
        </button>
      </a>
      <button
        type="button"
        class="btn btn-info"
        data-bs-toggle="modal"
        data-bs-target="#new"
        style="border-radius: 10px"
      >
        Выложить пластинку
      </button>
      <% } else if (locals.role === 'user') { %>
      <a href="/orders">
        <button type="button" class="btn btn-dark" style="border-radius: 10px">
          Мои резервы
        </button>
      </a>
      <% } %>
      <a href="/logout" class="btn btn-secondary" style="border-radius: 10px">
        Выйти
      </a>
    </div>
    <% } else { %>
    <div class="" id="header">
      <%# Меню анонимных пользователей %>
      <button
        type="button"
        class="btn btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#login"
        style="border-radius: 10px"
      >
        Войти
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#register"
        style="border-radius: 10px"
      >
        Зарегистрироваться
      </button>
    </div>
    <% } %>
  </div>
</nav>
