<nav class="navbar navbar-expand navbar-light bg-light justify-content-end">
  <div class="container container-fluid">
    <a
      class="navbar-brand bg-white p-1 rounded-circle overflow-hidden"
      href="/"
    >
      <img
        class=""
        src="/img/logo.jpg"
        alt="Логотип"
        style="width: 50px; height: 50px; object-fit: cover"
      />
    </a>
    <% if (locals.user) { %>
    <div id="header">
      <%# Меню пользователей, выполнивших вход%>
      <span class="name"><%= user.email %> </span>
      <% if (locals.role === 'admin') { %>
      <a href="/admin">
        <button type="button" class="btn btn-light">
          Панель администратора
        </button>
      </a>
      <% } else { %>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#new"
      >
        Выложить бит
      </button>
      <% } %>
      <a href="/logout">
        <button type="button" class="btn btn-light">Выйти</button>
      </a>
    </div>
    <% } else { %>
    <div class="" id="header">
      <%# Меню анонимных пользователей %>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        Войти
      </button>
      <button
        type="button"
        class="btn btn-light"
        data-bs-toggle="modal"
        data-bs-target="#register"
      >
        Зарегистрироваться
      </button>
    </div>
    <% } %>
  </div>
</nav>
