<div
  class="modal fade"
  id="login"
  tabindex="-1"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header">
        <h5 class="fs-5" id="loginModal">Вход</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Socials -->
        <div class="row socials" style="text-align: center">
          <div class="yandex col">
            <a href="/auth/yandex">
              <i class="fa-brands fa-yandex fa-2xl" style="color: #000000"></i>
            </a>
          </div>
          <div class="google col">
            <a href="/auth/google">
              <i class="fa-brands fa-google fa-2xl" style="color: #000000"></i>
            </a>
          </div>
          <div class="vk col">
            <a href="/auth/vkontakte">
              <i class="fa-brands fa-vk fa-2xl" style="color: #000000"></i>
            </a>
          </div>
        </div>
        <hr />
        <!-- Form -->
        <form
          action="/login"
          method="post"
          style="
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 20px;
            background: rgb(250, 250, 250);
          "
        >
          <div class="row my-3">
            <div>
              <div class="form-floating mb-3">
                <input
                  name="loginForm[email]"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  style="border-radius: 15px"
                  required
                />
                <label for="floatingInput">Электронная почта</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div>
              <div class="form-floating">
                <input
                  name="loginForm[password]"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="password"
                  style="border-radius: 15px"
                  required
                />
                <label for="floatingPassword">Пароль</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div style="margin-left: 18%">
              <button
                type="submit"
                class="btn btn-primary"
                style="width: 59%; border-radius: 15px"
              >
                Войти
              </button>
            </div>
          </div>
        </form>
        <div>
          <hr />
          <p style="margin-left: 22%">
            Ещё нет аккаунта?
            <a
              data-bs-toggle="modal"
              data-bs-target="#register"
              style="color: blue; cursor: pointer"
              >Зарегистрируйтесь</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
