<nav class="navbar navbar-expand navbar-light bg-light justify-content-end">
  <div class="nav navbar-nav">
    <a href="/"
      ><img src="../../public/img/logo.ico" alt="На главную (Будет логотип)"
    /></a>
    <% if (locals.user) { %>
    <div id="menu">
      <%# меню пользователей выполнивших вход%>
      <span class="name"><%= user.email %> </span> <%# user.email для браузера
      то, что пользователь послал в requeste%>
      <a class="badge rounded-pill bg-primary" href="/new" aria-current="page"
        >Выложить бит<span class="visually-hidden">(current)</span></a
      >
      <a class="badge rounded-pill bg-warning" href="/logout">Выйти</a>
    </div>
    <% } else { %>
    <div class="" id="menu">
      <%# //меню анонимных пользователей %>
      <a class="badge rounded-pill bg-info" href="/login" aria-current="page"
        >Войти<span class="visually-hidden">(current)</span></a
      >
      <a class="badge rounded-pill bg-info" href="/register"
        >Зарегистрироваться</a
      >
    </div>
    <% } %>
  </div>
</nav>
