<div
  class="modal fade"
  id="register"
  tabindex="-1"
  aria-labelledby="registerModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header">
        <h5 class="fs-5" id="registerModal">Регистрация</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/register"
          class="container"
          id="registerForm"
          method="post"
        >
          <div class="row my-3">
            <div class="col-sm-6 сol-12">
              <div class="form-floating">
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Имя"
                />
                <label for="name">Имя</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 сol-12">
              <div class="form-floating">
                <input
                  name="surname"
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Фамилия"
                />
                <label for="surname">Фамилия</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 сol-12">
              <div class="form-floating">
                <input
                  name="patronymic"
                  type="text"
                  class="form-control"
                  id="patronymic"
                  placeholder="Отчество"
                />
                <label for="patronymic">Отчество</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  name="email"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Электронная почта</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="password"
                />
                <label for="floatingPassword">Пароль</label>
              </div>
            </div>
            <small id="passwordHelpBlock" class="form-text text-muted">
              Пароль должен содержать минимум 8 знаков, хотя бы одну цифру и по
              одной заглавной и строчной букве
            </small>
          </div>
          <!-- <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <input
                  type="password"
                  name="password2"
                  class="form-control"
                  id="floatingPassword2"
                />
                <label for="floatingPassword2"
                  >Повторить пароль (не работает)</label
                >
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">
                Я принимаю <a href="#">пользовательское соглашение</a>
              </label>
              <div class="invalid-feedback">
                Вы должны согласиться с
                <a href="#">пользовательским соглашением</a>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <button type="submit" class="btn btn-success">
                Зарегистрироваться
              </button>
            </div>
          </div>
        </form>
        <div>
          <hr />
          <p>
            Уже есть аккаунт?
            <a
              data-bs-toggle="modal"
              data-bs-target="#login"
              style="color: blue; cursor: pointer"
              >Войдите</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
