<div
  class="modal fade"
  id="register"
  tabindex="-1"
  aria-labelledby="registerModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="fs-5" id="registerModal">Регистрация</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Socials -->
        <div class="container row socials" style="text-align: center">
          <div class="yandex col">
            <a href="/auth/yandex">
              <i class="fa-brands fa-yandex fa-2xl" style="color: #000000"></i>
            </a>
          </div>
          <div class="google col">
            <a href="/auth/google">
              <i class="fa-brands fa-google fa-2xl" style="color: #000000"></i>
            </a>
          </div>
          <div class="github col">
            <a href="/auth/github">
              <i class="fa-brands fa-github fa-2xl" style="color: #000000"></i>
            </a>
          </div>
        </div>
        <!-- Form -->
        <form
          action="/register"
          class="container"
          id="registerForm"
          method="post"
        >
          <hr />
          <div class="row my-3">
            <div class="col-sm-5 сol-12">
              <div class="form-floating">
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="floatingTextarea"
                  placeholder="Никнейм"
                />
                <label for="floatingTextarea">Никнейм</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  name="email"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Электронная почта</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-5 col-12">
              <div class="form-floating">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="password"
                />
                <label for="floatingPassword">Пароль</label>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-sm-6 col-12">
              <button type="submit" class="btn btn-success">
                Зарегистрироваться
              </button>
            </div>
          </div>
        </form>
        <div>
          <hr />
          <p>
            Уже есть аккаунт?
            <a
              data-bs-toggle="modal"
              data-bs-target="#login"
              style="color: blue; cursor: pointer"
              >Войдите</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
