<div
  class="modal fade"
  id="roleIncorrect"
  tabindex="-1"
  aria-labelledby="roleIncorrect"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="roleIncorrect">
          Несоответствующая роль
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Пользователи с ролью «Креатор» не могут резервировать пластинки.</p>
      </div>
    </div>
  </div>
</div>
