SECRET: "scrt"
PORT: number
MYSQL_PASSWORD: "pass"
MYSQL_DATABASE: "datbase"
MYSQL_USER: "user"
JWTTOKENSECRET: "scrt"
JWTTOKENTIME: time
APP_TOKEN: "smth"
YANDEX_CLIENT_ID: "smth"
YANDEX_CLIENT_SECRET: "smth"
GOOGLE_CLIENT_ID: "smth"
GOOGLE_CLIENT_SECRET: "smth"
GITHUB_CLIENT_ID: "smth"
GITHUB_CLIENT_SECRET: "smth"
VK_APP_ID: "smth"
VK_APP_SECRET: "smth"
