<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="./css/index.css" />
    <title>errors</title>
  </head>
  <body
    background="https://agentestudio.com/uploads/post/image/69/main_how_to_design_404_page.png"
  >
    <h1 class="err">ERROR <% if(status){ %><%= status %> <% } %></h1>
    <h1><% if(error){ %><span> <%= error %></span> <% } %></h1>
  </body>
</html>
