<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/bootstrap.js"></script>
    <link rel="stylesheet" href="./css/index.css" />
    <title>errors</title>
  </head>
  <body background="../public/img/404.webp">
    <h1 class="err">ERROR <% if(status){ %><%= status %> <% } %></h1>
    <h1><% if(error){ %><span> <%= error %></span> <% } %></h1>
  </body>
</html>
