<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/bootstrap.js"></script>
    <title><%= title %></title>
    <style>
      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      .card {
        background-color: #f1f1f1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 20px;
        margin: 20px auto;
        max-width: 400px;
      }
    </style>
  </head>
  <body>
    <header>
      <%- include('partials/menu.ejs'); -%>
      <h1>Заголовок страницы</h1>
      <button onclick="window.location.href = 'http://localhost:80/register';">
        Зарегестрироваться
      </button>
      <button onclick="window.location.href = 'http://localhost:80/login';">
        Войти
      </button>
    </header>
    <div class="profile-placeholder"></div>
    <div class="card">
      <h2>Заголовок карточки</h2>
      <%= title %>
      <p>Текст карточки</p>
    </div>
    <footer>
      <p>Футер страницы</p>
    </footer>
  </body>
</html>
